{% extends "account/base.html" %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block extra_head %}
<style>

  li{
    list-style-type: none;
  }

  .form-signin {
    max-width: 330px;
    padding: 1rem;
  }

  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
</style>
{% endblock %}

{% block content %}

<main class="form-main w-100">
  <h1 class="h3 mb-3">
    <span class="text-center d-block" style="font-family: 'Dela Gothic One', cursive;">-ShareFolio-</span><br>
    新規登録
  </h1>
  <p>すでにアカウントをお持ちですか？<a href="{{ login_url }}">ログイン</a></p>
  
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">{% csrf_token %}
    {% bootstrap_form form %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-primary w-100 py-2 " type="submit">新規登録</button>
  </form>
  {% if socialaccount_providers %}
  <div class="socialaccount_providers socialaccount_ballot">
    <ul class="d-flex justify-content-around">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
  </div>
  {% endif %}

</main>

{% endblock %}
